.calendar {
    border-radius: 4px;
    text-align: center;
    border-spacing: 0;
}

.calendar-header {
    border-bottom: 1px solid #A0A0A0;
}

.calendar-header tr:first-child th {
    background-color: #F0F0F0;
    padding: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar-header tr:nth-child(2) th {
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #707070;
}

.calendar-month-header {
    padding: 8px;
}

.calendar-body {}

.calendar-week {}

.calendar-day {
    padding: 8px;
    width: 20px;
    height: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar-day-current-frame {
    width: 32px;
    height: 32px;
    padding: 2px;
}

.calendar-day-current {
    display: table-cell;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-color: #DEDEFF;
    border-radius: 4px;
}

.calendar-day-selected-frame {
    width: 32px;
    height: 32px;
    padding: 2px;
}

.calendar-day-selected {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #000000;
}

.calendar-day-not-current-month {
    color: #C5C5C5;
}

/* Borders */

.calendar-header tr:first-child th {
    border-top: 1px solid #A0A0A0;
}

.calendar-header th:first-child, .calendar-body td:first-child {
    border-left: 1px solid #A0A0A0;
}

.calendar-header th:last-child, .calendar-body td:last-child {
    border-right: 1px solid #A0A0A0;
}

.calendar-body tr:last-child td {
    border-bottom: 1px solid #A0A0A0;
}

.calendar-header tr:first-child th {
    border-bottom: 1px solid #A0A0A0;
}

/* Borders - Rounding */

.calendar-header tr:first-child th:first-child {
    border-radius: 4px 0 0 0;
}

.calendar-header tr:first-child th:last-child {
    border-radius: 0 4px 0 0;
}

.calendar-body tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

.calendar-body tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

/* Borders - End */