.calendar {
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    text-align: center;
}

.calendar-header {
    border-bottom: 1px solid #B0B0B0;
    background-color: #F0F0F0;
}

.calendar-header th {
    padding: 8px;
}

.calendar-month-header {
    padding: 8px;
}

.calendar-body {}

.calendar-week {}

.calendar-day {
    padding: 8px;
}

.calendar-day-current {
    padding: 8px;
    background-color: #E3E3E3;
    border-radius: 4px;
}

.calendar-day-not-current-month {
    color: #C5C5C5;
}